<p>Dear {{ name }} from organisation {{ organisation }} (Organisation id: {{ id }}),</p>
<p>Please login in with your new password.</p>
<p>
    &nbsp&nbsp&nbsp&nbsp
    Password: {{ password }}
</p>
{{#notEqualsOne id}}
{{/notEqualsOne}}
<p>Please change your password once you have logged in successfully.</p>
