<p>Welcome to {{ organisation }} {{ name }},</p>
<p>Please login in with your registered username and password.</p>
<p>
    &nbsp&nbsp&nbsp&nbsp
    Username: {{ username }}
</p>
<p>
    &nbsp&nbsp&nbsp&nbsp
    Password: {{ password }}
</p>
<p>Please change your password once you have logged in successfully.</p>
