<p>Dear {{ name }} from organisation {{ organisation }} </p>
<p>We regret to inform you that your application number: {{applicationId}} has been rejected
<p>
    &nbsp&nbsp&nbsp&nbsp
    Please contact maxximize at 67467891 or maxximize@gmail.com If you wish to re-review your application.
</p>

